{% import "layouts/macros" as admin_macros %}
{% extends "layouts/default" %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ t('Articles list') }}</div>
        {% if data.length %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            {{ t('Id') }}
                        </th>
                        <th>
                            {{ t('Title') }}
                        </th>
                        <th>
                            {{ t('Created') }}
                        </th>
                        <th>
                            {{ t('Operations') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for item in data %}
                    <tr>
                        <td>
                            {{ item.id }}
                        </td>
                        <td>
                            {{ item.title }}
                        </td>
                        <td>
                            {{ item.created | date('Y-m-d h:i:s') }}
                        </td>
                        <td>
                            <a href="{{ createUrl('admin/articles/add', {id: item.id, page: pagination.page}) }}">
                                <span class="glyphicon glyphicon-pencil" title="{{ t('Edit') }}"></span>
                            </a>
                            <a href="{{ createUrl('admin/articles/delete', {id: item.id, page: pagination.page}) }}">
                                <span class="glyphicon glyphicon-remove" title="{{ t('Delete') }}"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                {{ admin_macros.display_table_pagination(pagination) }}
            </table>
        {% else %}
            <p class="mv-p">{{ t('No articles defined') }}</p>
        {% endif %}
    </div>
{% endblock %}