{% extends "layouts/default" %}

{% block before-content-wrapper %}
    <div class="mv-breadcrumbs row fluid clear">
        <div class="row">
            <span class="mv-info">{{ t('Showing %s1 of %s2 pages.') | replace('%s1', page) | replace('%s2', numOfPages) }}</span>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="mv-content col-12 {% if articles.length === 0 %}mv-no-data{% endif %}">
        {% if category %}
            <h1 class="mv-title">{{ category.title }}</h1>
            <div class="mv-short-desc">{{ category.description | safe }}</div>
            <hr class="mv-separator" />
        {% endif %}
        <section class="mv-articles">
            {% if articles.length %}
                {% for item in articles %}
                    <div class="mv-article">
                        <span class="mv-date">{{ item.created | date('d-m-Y H:i:s') }}</span>
                        <h2 class="mv-subtitle">{{ item.title }}</h2>
                        <div class="mv-short-desc">{{ item.short_description | safe }}</div>
                        <a href="{{ getRoute(item.id, 'article') }}" class="mv-read-more">{{ t('Read more') }}</a>
                    </div>
                {% endfor %}
            {% else %}
                {{ t('No data to display') }}
            {% endif %}
        </section>
    </div>
{% endblock %}